.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    max-width: 1920px;
    background-color: #fff;
}

.split_screen {
    display: flex;
}

.full_content_wrap {
    width: calc(100% - 300px);
}