.dishes {
  max-width: 1920px;
  background-color: lightgray;
  border-radius: 8px;
}

.dishes h1 {
  padding: 16px;
}

.catagory_image_bg {
  background-size: cover;
  background-position: center;
  height: 200px;
}

.single_dish {
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  border-radius: 8px;
  margin-bottom: 10px;
}

.dish_information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}

.dish_description {
  max-width: 340px;
}

.dish_price {
  color: #ff6600;
}
