nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 9dvh;
    padding: 16px;
    margin-bottom: 0;
    overflow-y: auto;
    scrollbar-width: thin;
}

nav::-webkit-scrollbar {
    width: 12px;
}

nav::-webkit-scrollbar-track {
    background: #f1f1f1;
}

nav::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

nav::-webkit-scrollbar-thumb:hover {
    background: #555;
}

nav a {
    text-decoration: none;
    color: grey;
    padding: 8px;
    font-size: 1rem;
}

nav a:hover {
    color: #ff6600;
}
